.argument {
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.argument-icon-container {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: var(--secundary);
}

.argument p {
  text-align: center;
}
