header {
  width: 100%;
  padding: 2rem;
  background-color: var(--primary);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Header-logo img {
  height: 10rem;
  object-fit: contain;
}
