.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0.8rem;
  width: 1rem;
  background: var(--blue);
  border-radius: 0.5rem;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0.8rem;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 3.2rem;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 5.6rem;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 0.8rem;
    height: 6.4rem;
    background: var(--blue);
  }
  50% {
    background: var(--orange);
  }
  100% {
    top: 24px;
    height: 3.2rem;
    background: var(--blue);
  }
}
