.Admin-Inicio {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.Admin-Actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Admin-Actions a {
  width: 48%;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--admin-blue);
  cursor: pointer;
  transition: ease-in-out 0.3s all;
}

.list-allTrucks,
.list-allShippings {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list-allShippings-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.list-allShippings-titles h3 {
  width: 55%;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--admin-blue);
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.list-allShippings h3:first-child,
.list-allTrucks h3:first-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 1.5rem 0 0;
}

.list-allShippings h3:nth-child(2),
.list-allTrucks h3:nth-child(2) {
  color: var(--white);
  background-color: var(--secundary);
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 98;
}

.list-allShippings .list-allShippings-titles .view,
.list-allTrucks .list-allShippings-titles .view {
  border-radius: 1.5rem 0 0 0;
  color: var(--white);
  background-color: var(--orange);
  z-index: 100;
}

.view-list {
  padding-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
  border: 0.2rem solid var(--orange);
  border-top: none;
}

.list-trucks-concep {
  margin-top: 3rem;
}

.list-trucks-concep,
.list-allTrucks a {
  width: 100%;
  padding: 0.5rem;
  color: var(--admin-deep-blue);
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 0.5fr;
}

.list-trucks-concep p {
  font-size: 1.6rem;
  font-weight: 600;
}

.list-allTrucks a {
  margin-top: 1rem;
}

.list-trucks-concep p:first-child,
.list-allTrucks a p:first-child {
  display: none;
}

.list-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-container a {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: var(--admin-deep-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
}

.list-container a p {
  font-size: 1.4rem;
}

.list-container a p:first-child {
  width: 30%;
  border-right: 0.2rem solid var(--admin-soft);
}

.list-container a p:last-child {
  width: 70%;
  padding-left: 0.5rem;
}

.list-container a:hover,
.list-allTrucks a:hover {
  font-weight: 600;
  color: var(--admin-deep-blue);
  background-color: var(--admin-soft);
}

@media screen and (min-width: 1300px) {
  .Admin-Inicio {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 1rem;
    justify-items: center;
    align-items: start;
  }

  .logo-bg {
    width: 100vw;
    height: calc(100vh - 200px);
    position: absolute;
    top: 200px;
    left: 0;

    background-image: url("../../assets/images/MJM_logo-not-letters.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.1;
    z-index: -5;
  }

  .list-allShippings,
  .list-allTrucks {
    margin: 0;
  }

  .Admin-Actions {
    flex-direction: column;
    align-items: flex-end;
  }

  .Admin-Actions a:hover {
    color: var(--admin-deep-blue);
    background-color: var(--admin-soft);
  }
}
