.Home {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Home h1,
.Home .schema {
  display: none;
}

.Tracking-secction {
  width: 100%;
  padding: 3rem 2rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("@images/truck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Tracking-secction-best_price {
  padding: 0.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  background: rgba(255, 131, 3, 0.1);
  border-radius: 0.5rem;
  transform: translateY(-2rem);
  z-index: 3;
}

.Tracking-secction-best_price .percent {
  font-size: 2.2rem;
  font-weight: 600;
}
.Tracking-secction-best_price .asterisk {
  font-size: 1.2rem;
}

.Tracking-container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  color: var(--blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.Tracking-container h2 {
  font-size: 2rem;
  text-align: center;
}

.Tracking-container p {
  margin: 0.5rem auto 1rem;
  font-size: 1.6rem;
  text-align: center;
}

.Tracking-secction .orange-filter {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fff 0%, var(--orange) 100%);
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.Tracking-secction img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ---------------------------Who-we-are-and-what-we-do--------------------------- */

.Who-we-are-and-what-we-do {
  width: 95%;
  margin-top: 1rem;
  padding: 3.5rem;
  border-radius: 0 2rem 2rem 0;
  color: var(--white);
  background-color: var(--blue);
}

.Who-we-are-and-what-we-do h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

.Who-we-are-and-what-we-do h4 em {
  font-weight: 600;
  font-style: normal;
  color: var(--orange);
}

/* ---------------------------routes--------------------------- */

.routes {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}

.routes ul {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routes ul li {
  font-size: 1.6rem;
  transition: ease-in-out 0.3s all;
}

.routes ul li:hover {
  color: var(--orange);
}

/* ---------------------------Arguments--------------------------- */
.Arguments {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.argument {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.argument-icon-container {
  width: 6rem;
  height: 6rem;
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 0.1rem solid var(--orange);
}

.argument-icon-container svg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.argument p {
  text-align: center;
  color: var(--blue);
}

/* ---------------------------We-container-button--------------------------- */

.We-container-button {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.We-container-button a {
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--orange);
  border-radius: 1.5rem;
  border: 0.1rem solid var(--blue);
  cursor: pointer;
}

/* ---------------------------call-or-message--------------------------- */

.call-or-message {
  width: 100%;
  padding: 1rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-or-message div {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--blue);
}

.phone a,
.message a {
  color: var(--blue);
  cursor: pointer;
}

.whatsapp-number {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone svg,
.mail svg,
.whatsapp-number svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 750px) {
  .Home {
    padding-bottom: 4rem;
  }

  .Tracking-secction-best_price {
    font-size: 2rem;
    background: none;
    transform: translateY(0);
  }

  .Tracking-secction-best_price .percent {
    font-size: 2.5rem;
  }
  .Tracking-secction-best_price .asterisk {
    font-size: 1.3rem;
  }

  .Tracking-container {
    margin: 8rem auto;
  }

  .package-tracking-input {
    width: 50%;
  }

  .Services {
    grid-template-columns: repeat(4, minmax(60%, 1fr));
    grid-template-rows: minmax(20rem, 30rem);
  }

  .Service {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .Service-title {
    transform: translate(2rem, -5.8rem);
  }
  .Service-description {
    color: var(--white);
    transform: translate(2rem, -5rem);
  }

  .call-or-message {
    width: 60%;
    margin: 2rem auto 0;
  }
}

@media screen and (min-width: 1000px) {
  .Tracking-secction-best_price {
    margin: 0 0 4rem;
  }

  .Tracking-container h2 {
    font-size: 3.5rem;
  }

  .Tracking-container p {
    font-size: 2rem;
  }

  .package-tracking-input,
  .package-tracking-button {
    font-size: 1.8rem;
  }

  .package-tracking-input {
    width: 35%;
  }

  .package-tracking-input::placeholder {
    font-size: 1.5rem;
  }

  .routes {
    width: 50%;
    font-size: 1.8rem;
  }

  .Who-we-are-and-what-we-do {
    width: 70%;
  }

  .argument {
    width: 25%;
  }

  .Services {
    width: 98%;
    grid-template-columns: repeat(4, 1fr);
  }

  .Service-title {
    transform: translate(2rem, -2.8rem);
  }

  .Service-description {
    color: var(--blue);
    transform: translate(0);
  }
}

@media screen and (min-width: 1200px) {
  .Tracking-secction-best_price {
    font-size: 3rem;
    background: none;
    transform: translateY(0);
  }

  .Tracking-secction-best_price .percent {
    font-size: 3.5rem;
  }
  .Tracking-secction-best_price .asterisk {
    font-size: 1.8rem;
  }

  .routes ul li {
    font-size: 2rem;
  }
}
