.NewShipping {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.NewShipping form {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.NewShipping-numbers {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NewShipping-numbers h3:first-child {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.NewShipping-numbers h3:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NewShipping-numbers h3,
.NewShipping-numbers .trackingNumber-input {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--blue);
  border: none;
  outline: none;
}

.NewShipping-numbers h3:first-child .trackingNumber-input {
  margin-top: 0.5rem;
}

.NewShipping-numbers h3:last-child .trackingNumber-input {
  width: 20%;
}

.NewShipping-origin,
.NewShipping-destination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.NewShipping-origin,
.NewShipping-destination,
.NewShipping-unit-value,
.NewShipping-more-information,
.shipment {
  width: 100%;
  margin: 1rem 0;
}

.NewShipping-origin input,
.NewShipping-destination input,
.NewShipping-unit-value input,
.NewShipping-more-information input,
.NewShipping-more-information textarea,
.shipment input,
.shipment textarea,
.NewShipping .input-totalInLetters {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem;
  font-size: 1.4rem;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  outline: none;
}

.NewShipping-origin input::placeholder,
.NewShipping-destination input::placeholder,
.NewShipping-unit-value input::placeholder,
.NewShipping-more-information input::placeholder,
.NewShipping-more-information textarea::placeholder,
.shipment input::placeholder,
.shipment textarea::placeholder,
.NewShipping .input-totalInLetters::placeholder {
  font-size: 1.4rem;
  color: var(--blue);
}

.NewShipping-unit-value p {
  margin-bottom: 1rem;
}

.NewShipping-more-information textarea,
.shipment textarea {
  height: 8rem;
  margin: 1rem 0;
  resize: none;
}

.shipment .reembarkWith {
  margin-bottom: 1.5rem;
}

.NewShipping .input-totalInLetters {
  margin: 1rem 0;
}

.NewShipping .Botton-submit {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  outline: none;
  cursor: pointer;
}

.NewShipping .Botton-submit:hover {
  color: var(--orange);
  border: 0.1rem solid var(--orange);
}

@media screen and (min-width: 1000px) {
  .NewShipping form {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .NewShipping-numbers {
    border: 0.1rem solid var(--blue);
  }

  .NewShipping-origin,
  .NewShipping-destination {
    width: 48%;
  }

  .NewShipping-unit-value {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .NewShipping-unit-value p {
    margin: 0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .NewShipping-more-information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: stretch;
  }

  .NewShipping-more-information textarea {
    height: auto;
    margin: 0.5rem 0;
  }

  .NewShipping .shipment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 1rem;
  }

  .NewShipping .shipment input {
    margin: 0;
  }

  .NewShipping .shipment textarea {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .concept-And-Amount {
    width: 40%;
  }

  .NewShipping .input-totalInLetters {
    width: 55%;
  }

  .NewShipping .Botton-submit {
    width: 55%;
    transform: translate(81.5%, -20rem);
  }
}

@media screen and (min-width: 1300px) {
  /* .NewShipping {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  } */

  .NewShipping form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-gap: 1rem;
    justify-content: center;
    align-items: start;
  }

  .NewShipping-numbers,
  .NewShipping-unit-value,
  .NewShipping-more-information,
  .shipment {
    margin: 0;
    grid-column: 1 / span 2;
  }

  .NewShipping-numbers {
    margin: 0;
  }

  .NewShipping-origin {
    width: 100%;
    margin: 0;
    grid-column: 1 / span 1;
  }

  .NewShipping-destination {
    width: 100%;
    margin: 0;
    grid-column: 2 / span 1;
  }

  .concept-And-Amount {
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
  }

  .NewShipping .input-totalInLetters {
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
  }

  .NewShipping .Botton-submit {
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    transform: initial;
  }

  .NewShipping .Botton-submit {
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    transform: initial;
  }
}
