.Newtruck {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.Newtruck form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Newtruck form h3,
.Newtruck form h3 input {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--blue);
}

.Newtruck form h3 input {
  margin: 0;
  border: none;
  outline: none;
}

.Newtruck-info-container {
  margin: 1rem 0;
}

.Newtruck-info-container input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem;
  font-size: 1.4rem;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  outline: none;
}

.Newtruck-info-container input::placeholder {
  font-size: 1.4rem;
  color: var(--blue);
}

.Newtruck-shippings {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.Newtruck-shippings::-webkit-scrollbar {
  display: none;
}

.Newtruck-shipping-info {
  width: 100rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 0.5fr 2fr 0.5fr 1fr 2fr 1fr 1.5fr 0.5fr;
}

.Newtruck-shipping-info p {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
}

.Newtruck-shipping-delete {
  width: 2rem;
  height: 2rem;
  margin: auto;
  border: 0.1rem solid red;
  color: red;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.Newtruck .Botton-submit {
  width: 100%;
  margin: 2rem 0;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--orange);
  border: 0.1rem solid var(--orange);
  background-color: var(--white);
  outline: none;
  cursor: pointer;
}

.list-allShippings-for-truck div,
.list-allShippings-for-truck button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
}

.Newtruck-list-folio-remitente-titles p {
  font-size: 1.6rem;
}

.list-allShippings-for-truck button {
  margin: 0.5rem 0;
  padding: 0.2rem;
  font-size: 1.4rem;
  color: var(--white);
  border: 0.1rem solid var(--blue);
  background-color: var(--blue);
  outline: none;
  transition: ease-in-out 0.3s all;
}

.list-allShippings-for-truck button:hover {
  color: var(--blue);
  border: 0.1rem solid var(--orange);
  background-color: var(--orange);
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .Newtruck {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: start;
  }

  .Newtruck form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    align-items: start;
  }

  .Newtruck form h3,
  .Newtruck form h3 input {
    margin: 0;
    text-align: right;
  }

  .Newtruck form h3 input {
    width: 6%;
  }

  .Newtruck-info-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .Newtruck {
    grid-template-columns: 1fr 3fr;
  }

  .Newtruck-shipping-info {
    width: 100%;
    margin: 0.5rem;
  }
}
