.Details-Print-header,
.Details-totalInLetters,
.Details-thanks,
.Details-status-trackingNumber,
.notReceived,
.Details-reshipment-reembarkWith,
.Condujo {
  display: none;
}

.Details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Details-date-origin {
  margin-bottom: 1rem;
}

.Details-date-origin p {
  font-size: 1.4rem;
}

.Details-remitente,
.Details-destination {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 0.1rem solid var(--blue);
}

.Details-destination {
  margin-top: 1rem;
}

.Details-remitente h3,
.Details-destination h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.Details-remitente p,
.Details-destination p {
  margin-top: 0.5rem;
}

.Details-PaymentTermsAndValue {
  margin: 1rem 0;
  flex-wrap: wrap;
}

.Details-PaymentTermsAndValue p {
  width: 50%;
  margin: 0.5rem 0;
}

.Details-PaymentTermsAndValue p:first-child {
  width: 100%;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.Details-PaymentTermsAndValue p:last-child {
  text-align: right;
}

.Details-PaymentTermsAndValue span {
  font-weight: 600;
}

.Details-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Details-more-info {
  width: 100%;
}

.Details-bulge-claims-weight-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Details-bulge-claims-weight-container div {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  text-align: left;
  border: 0.1rem solid var(--blue);
}

/* .Details-reshipment-reembarkWith {
  padding: 1rem 0.5rem;
  width: 100%;
  margin: 1rem 0;
} */

.Details-drive {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Details-drive .conduct {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  text-align: left;
  border: 0.1rem solid var(--blue);
}

.Details-freight {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-freight div {
  width: 50%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 0.1rem solid var(--blue);
}

.Details-freight div:first-child {
  align-items: flex-end;
  border-right: none;
}

.Details-freight div p {
  margin-top: 0.5rem;
  border-bottom: 0.1rem solid var(--blue);
}

.Details-last-information {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.Details-last-information div {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid var(--blue);
}

.Details-trackingNumber p {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: initial;
}

.Details-status {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Button-edit,
.Button-print,
.Button-delivered {
  width: 48%;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
}

.Button-delivered {
  margin-top: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .Details {
    width: 100%;

    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: stretch;
  }

  .Details-info {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-remitente,
  .Details-destination {
    width: 50%;
    margin: 0;
  }

  .Details-more-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  .space-between-center {
    padding: 0.5rem;
    margin: 0;
    border: 0.1rem solid var(--blue);
  }

  .Details-PaymentTermsAndValue {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  .Details-PaymentTermsAndValue p:first-child {
    width: fit-content;
  }

  .Details-bulge-claims-weight-container {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: stretch;
  }

  .Details-bulge-claims-weight-container div {
    margin: 0;
  }

  /* .Details-reshipment-reembarkWith {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    border-right: 0.1rem solid var(--blue);
    border-left: 0.1rem solid var(--blue);
  } */

  .Details-drive {
    margin: 0;
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  .Details-drive .conduct {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .Details-drive .conduct p:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .Details-status {
    margin: 22rem 0 0;
  }

  .Details-last-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .Details-last-information div:not(:last-child) {
    width: auto;
    max-width: 50%;
    flex-grow: 1;
  }

  .Details-last-information div:not(:first-child) p {
    text-align: center;
    margin: auto;
  }

  .Details-freight {
    width: 29%;
    margin: 0;
    position: absolute;
    top: 17rem;
    right: 2rem;
  }

  .Details-freight div {
    border: none;
  }

  .Details-freight div:first-child {
    border-right: 0.1rem solid var(--blue);
  }

  .Details-freight p {
    font-size: 1.8rem;
  }

  .Details-buttons-container .Button-edit:hover {
    color: var(--orange);
    border: 0.1rem solid var(--orange);
  }

  .Details-buttons-container .Button-print:hover {
    color: var(--admin-blue);
    border: 0.1rem solid var(--admin-blue);
  }
}

@media print {
  .HeaderAdmin,
  header,
  .Button-print,
  .Details-status {
    display: none;
  }

  .Details {
    width: 97%;
    margin: 4rem auto;
    padding: 1rem;
    display: block;
    border: 2px solid var(--blue);
    text-transform: uppercase;
  }

  .Details-Print-header {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    color: var(--blue);
    background-color: #fff;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    justify-content: center;
    align-items: center;
  }

  .Details-Print-header h1 {
    font-size: 1.8rem;
  }

  .Details-Print-header h4 {
    font-size: 1rem;
  }

  .Details-Print-header p {
    font-size: 1rem;
  }

  .Details-Print-header .Details-Print-logo {
    width: 100%;
    object-fit: cover;
  }

  .Details-Print-centerarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Details-Print-data,
  .Details-Print-addresses {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Details-Print-addresses {
    margin-top: 1rem;
  }

  .Details-Print-office,
  .Details-Print-folio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Details-Print-mail {
    margin-top: 1rem;
    text-transform: initial;
  }

  .Details-Print-folio .Details-Print-folio-number {
    color: red;
  }

  .Details-Print-office .Details-Print-WhatsApp span {
    width: 1rem;
    height: 1rem;
  }

  .Details-Print-office .Details-Print-WhatsApp span svg {
    width: 1rem;
    height: 1rem;
    color: var(--Printsoft-orange);
  }

  .Details-info {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .Details-date-origin {
    padding: 0.5rem;
    margin: 0;
    border: 0.1rem solid var(--blue);
    border-bottom: none;
  }

  .Details-date-origin p {
    font-size: 1rem;
  }

  .Details-remitente,
  .Details-destination {
    width: 50%;
    margin: 0;
  }

  .Details-destination {
    border-left: none;
  }

  .Details-remitente h3,
  .Details-destination h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .Details-more-info {
    width: 70%;
    margin: 0;
    border-left: none;
    border-top: none;
  }

  .Details-PaymentTermsAndValue {
    margin: 0;
    padding: 0.5rem;
    border-left: 0.1rem solid var(--blue);
    border-right: 0.1rem solid var(--blue);
  }

  .Details-PaymentTermsAndValue p,
  .Details-PaymentTermsAndValue p:first-child {
    width: auto;
  }

  .Details-bulge-claims-weight-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: stretch;
  }

  .Details-bulge-num-packaging {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-bulge-claims-weight-container div {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: stretch;
  }

  .Details-bulge-num-packaging p,
  .Details-weight-m3-estimatedWeight p {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .Details-bulge-num-packaging p:nth-child(1),
  .Details-weight-m3-estimatedWeight p:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    border-bottom: 0.1rem solid var(--blue);
  }

  .Details-bulge-num-packaging p:nth-child(2),
  .Details-weight-m3-estimatedWeight p:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-right: 0.1rem solid var(--blue);
  }

  .Details-bulge-num-packaging p:nth-child(3),
  .Details-weight-m3-estimatedWeight p:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .Details-description-for-client p:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .Details-description-for-client p:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .Details-bulge-claims-weight-container div:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  /* .Details-reshipment-reembarkWith {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 0.1rem solid var(--blue);
    border-right: 0.1rem solid var(--blue);
  } */

  /* .Details-reshipment-reembarkWith p {
    width: 50%;
    text-align: left;
  } */

  .Details-drive {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Details-drive .conduct {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-top: none;
  }

  .Details-drive .conduct:first-child {
    border-right: none;
  }

  .Details-drive .conduct p {
    width: 50%;
    margin-top: 0.5rem;
  }

  .Details-drive .conduct p:first-child {
    width: 100%;
  }

  .Details-totalInLetters {
    width: 100%;
    padding: 0.5rem;
    display: block;
    text-align: right;
    border: 0.1rem solid var(--blue);
    border-top: none;
    border-bottom: none;
  }

  .Details-freight {
    width: 30%;
    /* height: 217px; */
    margin: 0;
    /* border-bottom: 0.1rem solid var(--blue); */
    border-right: 0.1rem solid var(--blue);
  }

  .Details-freight div {
    padding: 0rem 0.5rem;
    border-top: none;
    border-bottom: none;
  }

  .Details-freight div:first-child {
    border-left: none;
    width: 60%;
  }

  .Details-freight div:last-child {
    width: 40%;
    border-right: none;
  }

  .Details-freight div p {
    margin-top: 1rem;
  }

  .Details-last-information {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    justify-items: center;
    align-items: stretch;
  }

  .notReceived {
    display: block;
  }

  .Details-last-information div {
    margin: 0;
    text-align: center;
  }

  .Details-last-information div:nth-child(1) {
    border-right: none;
  }

  .Details-last-information div:nth-child(2) {
    border-right: none;
  }

  .Details-last-information div:last-child {
    border-left: none;
  }

  .Details-trackingNumber p {
    text-transform: initial;
  }

  .Details-document,
  .Details-accordance,
  .notReceived {
    display: block;
  }

  .Details-accordance,
  .notReceived {
    position: relative;
  }

  .line-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .line {
    width: 80%;
    height: 2pt;
    border-top: 1pt solid var(--admin-deep-blue);
  }
}
