:root {
  --Printsoft-orange: #1d3557;
}

.Details {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Details-info {
  width: 75%;
}

.Details-status {
  width: 25%;
  padding: 0 2rem;
}

.Details-PaymentTermsAndValue,
.Details-description-for-client,
.Details-reshipment-reembarkWith,
.Details-totalInLetters,
.Details-more-info,
.Details-last-information {
  border: 0.1rem solid var(--Printsoft-orange);
}

.Details-PaymentTermsAndValue,
.Details-reshipment-reembarkWith,
.Details-drive,
.Details-totalInLetters {
  border-left: none;
  border-right: none;
}

.Details-bulge-num-packaging {
  border-left: none;
}

.Details-weight-m3-estimatedWeight {
  border-right: none;
}

.Details-Print-header,
.Details-trackingNumber,
.Details-document,
.Details-accordance,
.Details-date-origin {
  display: none;
}

.Details-info,
.Details-more-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.Details-remitente,
.Details-destination {
  width: 37%;
  padding: 0.5rem;
}

.Details-destination {
  margin-right: auto;
}

.Details-more-info {
  width: 75%;
  margin: 2rem 0;
  border-top: none;
  border-bottom: none;
}

.Details-PaymentTermsAndValue {
  width: 100%;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-bulge-claims-weight-container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-bulge-num-packaging {
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.Details-bulge-num-packaging p {
  width: 50%;
  text-align: center;
}

.Details-bulge-num-packaging p:first-child {
  width: 100%;
}

.Details-description-for-client {
  width: 40%;
  height: 100%;
  padding: 0.5rem;
  text-align: left;
  border-top: none;
  border-bottom: none;
}

.Details-weight-m3-estimatedWeight {
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.Details-weight-m3-estimatedWeight p {
  width: 50%;
  text-align: center;
}

.Details-weight-m3-estimatedWeight p:first-child {
  width: 100%;
}

.Details-reshipment-reembarkWith {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Details-reshipment-reembarkWith p {
  width: 50%;
  text-align: left;
}

.Details-drive {
  width: 100%;
  margin: 2rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-drive div {
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.Details-drive div p {
  width: 50%;
  margin: 1rem 0;
  text-align: left;
}

.Details-drive div p:first-child {
  width: 100%;
}

.Details-totalInLetters {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}

.Details-freight {
  width: 25%;
  margin: 2rem 0;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Details-freight div {
  width: 50%;
  padding: 0 0.5rem;
}

.details-freight-concept {
  text-align: right;
}

.details-freight-amount {
  text-align: left;
}

.Details-freight p {
  margin: 1rem 0;
}

.Details-last-information {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Details-last-information div {
  padding: 1rem;
  text-align: center;
}

.Details-last-information div p {
  margin: 1rem auto;
}

.Details-status .Details-buttons-container {
  width: 78%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-buttons {
  padding: 0.5rem;
  font-size: 1.4rem;
  color: var(--secundary);
  border: 0.1rem solid var(--secundary);
  background-color: transparent;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.2s all;
}

.Details-buttons:hover {
  background-color: var(--secundary);
  color: var(--soft-orange);
}

.Details-thanks {
  display: none;
}

@media print {
  :root {
    --blue: #1d3557;
  }

  .HeaderAdmin,
  header,
  .Button-print,
  .Details-status {
    display: none;
  }

  .Details {
    width: 95%;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--Printsoft-orange);
    text-transform: uppercase;
  }

  .Details-info {
    width: 100%;
  }

  .Details-info h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .Details-freight,
  .Details-PaymentTermsAndValue {
    margin: 0;
  }

  .Details-PaymentTermsAndValue,
  .Details-reshipment-reembarkWith,
  .Details-totalInLetters {
    border: 1px solid var(--Printsoft-orange);
  }

  .Details-PaymentTermsAndValue,
  .Details-reshipment-reembarkWith,
  .Details-drive,
  .Details-totalInLetters {
    border-left: none;
    border-right: none;
  }

  .Details-Print-header {
    width: 100%;
    padding: 0.5rem;
    color: var(--Printsoft-orange);
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Details-Print-header h1 {
    font-size: 1.2rem;
  }

  .Details-Print-header h4 {
    font-size: 1rem;
  }

  .Details-Print-header p {
    font-size: 0.8rem;
  }

  .Details-Print-header .Details-Print-logo {
    width: 15%;
    object-fit: cover;
  }

  .Details-Print-header .Details-Print-centerarea {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Details-Print-data,
  .Details-Print-addresses {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Details-Print-addresses {
    margin-top: 1rem;
  }

  .Details-Print-office,
  .Details-Print-folio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Details-Print-folio .Details-Print-folio-number {
    color: red;
  }

  .Details-Print-office .Details-Print-WhatsApp span {
    width: 1rem;
    height: 1rem;
  }

  .Details-Print-office .Details-Print-WhatsApp span svg {
    width: 1rem;
    height: 1rem;
    color: var(--Printsoft-orange);
  }

  .Details-info {
    border: 2px solid var(--Printsoft-orange);
  }

  .Details-info,
  .Details-more-info {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-date-origin {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1rem solid var(--Printsoft-orange);
  }

  .Details-remitente,
  .Details-destination {
    width: 50%;
    margin: 0;
    border-bottom: 0.1rem solid var(--Printsoft-orange);
  }

  .Details-more-info {
    width: 70%;
    margin: 0;
    border-left: none;
    border-top: none;
  }

  .Details-PaymentTermsAndValue {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
  }

  .Details-bulge-num-packaging {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-bulge-num-packaging p {
    width: 50%;
    text-align: center;
  }

  .Details-bulge-num-packaging p:first-child {
    width: 100%;
  }

  .Details-description-for-client {
    width: 40%;
    padding: 0.8rem;
    text-align: left;
  }

  .Details-weight-m3-estimatedWeight {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-weight-m3-estimatedWeight p {
    width: 50%;
    text-align: center;
  }

  .Details-weight-m3-estimatedWeight p:first-child {
    width: 100%;
  }

  .Details-reshipment-reembarkWith {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .Details-reshipment-reembarkWith p {
    width: 50%;
    text-align: left;
  }

  .Details-drive {
    width: 100%;
    margin: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Details-drive div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .Details-drive div p {
    width: 50%;
    margin: 1rem 0;
    text-align: left;
  }

  .Details-drive div p:first-child {
    width: 100%;
  }

  .Details-totalInLetters {
    width: 100%;
    text-align: left;
    border-bottom: none;
  }

  .Details-freight {
    width: 30%;
    margin: 2rem 0 0;
    padding: 4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Details-freight div {
    width: 50%;
    padding: 0 0.5rem;
  }

  .details-freight-concept {
    text-align: right;
    border-right: 0.1rem solid var(--Printsoft-orange);
  }

  .details-freight-amount {
    text-align: left;
  }

  .Details-freight p {
    margin: 1rem 0;
    border-bottom: 0.1rem solid var(--Printsoft-orange);
  }

  .details-freight-amount p {
    font-weight: 700;
  }

  .Tracking-status-container {
    display: none;
  }

  .Details-last-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
  }

  .Details-last-information div {
    width: 25%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.1rem solid var(--Printsoft-orange);
    border-bottom: none;
  }

  .Details-last-information .Details-trackingNumber,
  .Details-last-information .Details-accordance {
    border-left: none;
    border-right: none;
  }

  .Details-last-information .Details-observations {
    border-right: none;
  }

  .Details-last-information div p {
    max-width: 90%;
  }

  .Details-last-information div span {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
  }

  .Details-last-information .Details-accordance .line {
    width: 80%;
    border-top: 0.1rem solid var(--Printsoft-orange);

    position: absolute;
    bottom: 1.5rem;
  }

  .Details-last-information .Details-trackingNumber p {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--Printsoft-orange);
    text-transform: none;
  }

  .Details-thanks {
    width: 100%;
    padding: 0.3rem;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    display: block;
    border-top: 0.1rem solid var(--Printsoft-orange);
  }
}
