:root {
  --primary: #d3e0ea;
  --secundary: #1687a7;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

main {
  padding: 2rem;
}
